{% extends "admin/base.html.twig" %}

{% block main %}


est ce une bonne idée? le faire a la fin ////////////////

Planning: 

- saisir les commandes 
- fonction pour le prix total
-

{# <h1> Acceuil Administrateur</h1>

<h2>Gestions des membres</h2>
<div>
<h2><a href="{{ path('admin_commande_create')}}" class="btn"></h2>
</div> 

<h2>Gestion des commandes</h2>

<h2>Gestion des Véhicules</h2>

<h2>Gestion des médias</h2> #}

{% endblock %}